<!DOCTYPE html>
<html lang="en" >
<head>
	{% load staticfiles %}
	<title>Tailored Motors</title>

	<!-- BEGIN META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="your,keywords">
	<meta name="description" content="Short explanation about this website">
	<!-- END META -->

	<!-- BEGIN STYLESHEETS -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/bootstrap.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/materialadmin.css' %}" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/x3dom.css' %}" charset="utf-8" ></link>
	<script type="text/javascript" src="{% static 'assets/js/x3dom-full.js' %}"></script>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/material-design-iconic-font.min.css' %}" />

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>

</head>

	<script type="text/javascript">
	angular.module('ui.bootstrap.demo', ['ngAnimate', 'ui.bootstrap']);
	angular.module('ui.bootstrap.demo').controller('ModalDemoCtrl', function ($scope, $uibModal, $log, $http) {

		$scope.items = ['item1', 'item2', 'item3'];

		$scope.animationsEnabled = true;

		$scope.dow = function(){

		$http({
        method: 'POST',
        url: '/downloadstp/',
        data: {}
        }).success(function (data) {
        	alert("done");
		});
			
		};

		$scope.open = function (size) {

			var modalInstance = $uibModal.open({
				animation: $scope.animationsEnabled,
				templateUrl: 'myModalContent.html',
				controller: 'ModalInstanceCtrl',
				size: size,
				resolve: {
					items: function () {
						return $scope.items;
					}
				}
			});

			modalInstance.result.then(function (selectedItem) {
				$scope.selected = selectedItem;
			}, function () {
				$log.info('Modal dismissed at: ' + new Date());
			});
		};

		$scope.toggleAnimation = function () {
			$scope.animationsEnabled = !$scope.animationsEnabled;
		};

	});

// Please note that $uibModalInstance represents a modal window (instance) dependency.
// It is not the same as the $uibModal service used above.

angular.module('ui.bootstrap.demo').controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items, $http) {

	$scope.items = items;
	$scope.selected = {
		item: $scope.items[0]
	};


	$scope.send = function (lc, rc, rcm, lcm, lb, nt, rt) {
		var que = {
            lc : lc,
            rc: rc,
            rcm : rcm,
            lcm: lcm,
            lb:lb,
            nt:nt,
            rt:rt
        };
        document.getElementById("ss").innerHTML = "";
        $http({
            method: 'POST',
            url: '/gensolid/',
            data: que
        }).success(function (data) {
			document.getElementById("fre").innerHTML = data;
			$scope.ok();
		});
	};

	$scope.ok = function () {
		$uibModalInstance.close($scope.selected.item);
	};

	$scope.cancel = function () {
		$uibModalInstance.dismiss('cancel');
	};
});
    var my_app = angular.module('ui.bootstrap.demo').config(function($interpolateProvider,$httpProvider) {
        $interpolateProvider.startSymbol('{$');
        $interpolateProvider.endSymbol('$}');
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';

    });

</script>	
<body class="menubar-hoverable header-fixed ">

	<!-- BEGIN HEADER-->
	<header id="header" >
		<div class="headerbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					<li class="header-nav-brand" >
						<div class="brand-holder">
							<a href="./html/dashboards/dashboard.html">
								<span class="text-lg text-bold text-primary">Tailored Motors</span>
							</a>
						</div>
					</li>
					<li>
						<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</li>
					<li>{% csrf_token %}
						<div class="headerbar-right" ng-app="ui.bootstrap.demo" >
							<div ng-controller="ModalDemoCtrl">
								<script type="text/ng-template" id="myModalContent.html">
								<div class="modal-header">
								<h3 class="modal-title">Palette</h3>
								</div>
								<div class="modal-body">
								<form method="POST" action="/draw/" enctype="multipart/form-data">{% csrf_token %}
									{{form}}
									<button class="btn btn-default" type="submit" value="Update">Update</button>
								</form>
								</div>
								<div class="modal-footer">
								<div ui-view class="fade-in-up" ng-init="User={{dis}} " >

								</div>
								</div>
								</script>
								<button type="button" class="btn btn-default" ng-click="open('lg')">Palette</button>
								&nbsp;<button type="button" class="btn btn-default" ng-click="dow()"><a href="/downloadstp/">Telecharger</a></button>&nbsp;

							</div>
						</div>
						
					</li>

				</ul>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling send(lc, rc, rcm, lcm, lb, nt, rt) -->

		</div>
	</header>
	<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">

	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-header">
				<ol class="breadcrumb">
					<li class="active">Dessiner un moteur </li>
				</ol>
			</div>
			<div class="row" id="ssf">
			</div>
			<!-- BEGIN DEFAULT TABLE -->
			<div id="ss" class="row">
				{% autoescape off %}{{dis}}{% endautoescape %}
			</div>

		</section>
		<!-- END TABLE HOVER -->

	</div><!--end #content-->
	<!-- END CONTENT -->
	<!-- BEGIN MENUBAR-->
	<div id="menubar" class="menubar-inverse ">
		<div class="menubar-fixed-panel">
			<div>
				<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<div class="expanded">
				<a href="./html/dashboards/dashboard.html">
					<span class="text-lg text-bold text-primary ">Tailored Motors</span>
				</a>
			</div>
		</div>
		<div class="menubar-scroll-panel">

			<!-- BEGIN MAIN MENU -->
			<ul id="main-menu" class="gui-controls">

				<!-- BEGIN PAGES -->
				<li>
					<a href="/">
						<div class="gui-icon"><i class="md md-archive"></i></div>
						<span class="title">Visualisation</span>
					</a>
				</li><!--end /menu-li -->
				<li>
					<a href="/draw/">
						<div class="gui-icon"><i class="md md-create"></i></div>
						<span class="title">Generer un moteur</span>
					</a>
				</li><!--end /menu-li -->

				<!-- END LEVELS -->

			</ul><!--end .main-menu -->
			<!-- END MAIN MENU -->

			<div class="menubar-foot-panel">
				<small class="no-linebreak hidden-folded">
					<strong>Tailored Motors</strong>
				</small>
			</div>
		</div><!--end .menubar-scroll-panel-->
	</div><!--end #menubar-->
	<!-- END MENUBAR -->


</div><!--end #base-->
<!-- END BASE -->

<!-- BEGIN JAVASCRIPT -->
<script src="{% static 'assets/js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'assets/js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/libs/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/libs/spin.js/spin.min.js' %}"></script>
<script src="{% static 'assets/js/libs/autosize/jquery.autosize.min.js' %}"></script>
<script src="{% static 'assets/js/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>
<script src="{% static 'assets/js/core/source/App.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppNavigation.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppOffcanvas.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppCard.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppForm.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppNavSearch.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppVendor.js' %}"></script>
<script src="{% static 'assets/js/core/demo/Demo.js' %}"></script>
<!-- END JAVASCRIPT -->

</body>
</html>
