<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<title>Tailored Motors</title>

	<!-- BEGIN META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="your,keywords">
	<meta name="description" content="Short explanation about this website">
	<!-- END META -->

	<!-- BEGIN STYLESHEETS -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/bootstrap.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/materialadmin.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/x3dom.css' %}" charset="utf-8" ></link>
    <script type="text/javascript" src="{% static 'assets/js/x3dom-full.js' %}"></script>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/material-design-iconic-font.min.css' %}" />

	</head>
        <script>
            function call_counter() {
                $.get('/download/', function (data) {
                    alert("counter updated!");
                });
            }
        </script>

<body class="menubar-hoverable header-fixed ">

	<!-- BEGIN HEADER-->
	<header id="header" >
		<div class="headerbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					<li class="header-nav-brand" >
						<div class="brand-holder">
							<a href="./html/dashboards/dashboard.html">
								<span class="text-lg text-bold text-primary">Tailored Motors</span>
							</a>
						</div>
					</li>
					<li>
						<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->

		</div>
	</header>
	<!-- END HEADER-->

	<!-- BEGIN BASE-->
	<div id="base">


		<!-- BEGIN CONTENT-->
		<div id="content">
			<section>
				<div class="section-header">
					<ol class="breadcrumb">
						<li class="active">Moteur Electrique</li>
					</ol>
				</div>
<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-sm-3">
												<div class="btn-group">
													<button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
														Thread <i class="fa fa-caret-down text-default-light"></i>
													</button>
													<ul class="dropdown-menu animation-slide" role="menu">
														<li><a href="#">M3</a></li>
														<li><a href="#">M4</a></li>
														<li><a href="#">M5</a></li>
														<li><a href="#">M6</a></li>
													</ul>
												</div><!--end .btn-group -->
											</div><!--end .col -->
											<div class="col-sm-3">
												<div class="btn-group">
													<button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown">
														Holes <i class="fa fa-caret-down text-default-light"></i>
													</button>
													<ul class="dropdown-menu animation-zoom" role="menu">
														<li><a href="#">3</a></li>
														<li><a href="#">4</a></li>
														<li><a href="#">5</a></li>
														<li><a href="#">6</a></li>
													</ul>
												</div><!--end .btn-group -->
											</div><!--end .col -->
											<div class="col-sm-3">
												<button type="button" style="background:white;color:#969C9C;border:none;" class="btn ink-reaction btn-floating-action btn-sm btn-primary">
								<a href="/download/"><i class="md md-save"></i></a>
							</button>
											</div><!--end .col -->
										</div><!--end .row -->
									</div><!--end .card-body -->
								</div>
				<div class="section-body contain-lg">

					<!-- BEGIN DEFAULT TABLE -->
					<div class="row" style="background=black;">

							{% autoescape off %}{{box}}{% endautoescape %}

					</div>
					

				</div><!--end .section-body -->
			</section>
<!-- END TABLE HOVER -->

</div><!--end #content-->
<!-- END CONTENT -->


<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">
	<div class="menubar-fixed-panel">
		<div>
			<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="expanded">
			<a href="./html/dashboards/dashboard.html">
				<span class="text-lg text-bold text-primary ">Tailored Motors</span>
			</a>
		</div>
	</div>
	<div class="menubar-scroll-panel">

		<!-- BEGIN MAIN MENU -->
		<ul id="main-menu" class="gui-controls">

			<!-- BEGIN PAGES -->
			<li>
				<a href="/">
					<div class="gui-icon"><i class="md md-archive"></i></div>
					<span class="title">Visualisation</span>
				</a>
			</li><!--end /menu-li -->
			<li>
				<a href="/draw/">
					<div class="gui-icon"><i class="md md-create"></i></div>
					<span class="title">Generer un moteur</span>
				</a>
			</li><!--end /menu-li -->

			<!-- END LEVELS -->

		</ul><!--end .main-menu -->
		<!-- END MAIN MENU -->

		<div class="menubar-foot-panel">
			<small class="no-linebreak hidden-folded">
				<strong>Tailored Motors</strong>
			</small>
		</div>
	</div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->


</div><!--end #base-->
<!-- END BASE -->

<!-- BEGIN JAVASCRIPT -->
<script src="{% static 'assets/js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'assets/js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/libs/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/libs/spin.js/spin.min.js' %}"></script>
<script src="{% static 'assets/js/libs/autosize/jquery.autosize.min.js' %}"></script>
<script src="{% static 'assets/js/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>
<script src="{% static 'assets/js/core/source/App.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppNavigation.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppOffcanvas.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppCard.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppForm.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppNavSearch.js' %}"></script>
<script src="{% static 'assets/js/core/source/AppVendor.js' %}"></script>
<script src="{% static 'assets/js/core/demo/Demo.js' %}"></script>
<!-- END JAVASCRIPT -->

</body>
</html>
