<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Material Admin - Off-canvas</title>
		{% load staticfiles %}

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/bootstrap.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/materialadmin.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/font-awesome.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/material-design-iconic-font.min.css' %}" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="{% static 'assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="{% static 'assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed menubar-pin ">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="{% static 'html/dashboards/dashboard.html">
									<span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>
						<li class="dropdown hidden-xs">
							<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
								<i class="fa fa-bell"></i><sup class="badge style-danger">4</sup>
							</a>
							<ul class="dropdown-menu animation-expand">
								<li class="dropdown-header">Today's messages</li>
								<li>
									<a class="alert alert-callout alert-warning" href="javascript:void(0);">
										<img class="pull-right img-circle dropdown-avatar" src="{% static 'assets/img/avatar2.jpg?1404026449" alt="" />
										<strong>Alex Anistor</strong><br/>
										<small>Testing functionality...</small>
									</a>
								</li>
								<li>
									<a class="alert alert-callout alert-info" href="javascript:void(0);">
										<img class="pull-right img-circle dropdown-avatar" src="{% static 'assets/img/avatar3.jpg?1404026799" alt="" />
										<strong>Alicia Adell</strong><br/>
										<small>Reviewing last changes...</small>
									</a>
								</li>
								<li class="dropdown-header">Options</li>
								<li><a href="{% static 'html/pages/login.html">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
								<li><a href="{% static 'html/pages/login.html">Mark as read <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
						<li class="dropdown hidden-xs">
							<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
								<i class="fa fa-area-chart"></i>
							</a>
							<ul class="dropdown-menu animation-expand">
								<li class="dropdown-header">Server load</li>
								<li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Server load <strong>Today</strong></span>
											<strong class="pull-right">93%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-danger" style="width: 93%"></div></div>
									</a>
								</li><!--end .dropdown-progress -->
								<li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Server load <strong>Yesterday</strong></span>
											<strong class="pull-right">30%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-success" style="width: 30%"></div></div>
									</a>
								</li><!--end .dropdown-progress -->
								<li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Server load <strong>Lastweek</strong></span>
											<strong class="pull-right">74%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-warning" style="width: 74%"></div></div>
									</a>
								</li><!--end .dropdown-progress -->
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-options -->
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<img src="{% static 'assets/img/avatar1.jpg?1403934956" alt="" />
								<span class="profile-info">
									Daniel Johnson
									<small>Administrator</small>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">Config</li>
								<li><a href="{% static 'html/pages/profile.html">My profile</a></li>
								<li><a href="{% static 'html/pages/blog/post.html">My blog <span class="badge style-danger pull-right">16</span></a></li>
								<li><a href="{% static 'html/pages/calendar.html">My appointments</a></li>
								<li class="divider"></li>
								<li><a href="{% static 'html/pages/locked.html"><i class="fa fa-fw fa-lock"></i> Lock</a></li>
								<li><a href="{% static 'html/pages/login.html"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
					<ul class="header-nav header-nav-toggle">
						<li>
							<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
								<i class="fa fa-ellipsis-v"></i>
							</a>
						</li>
					</ul><!--end .header-nav-toggle -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">

				<!-- BEGIN OFFCANVAS DEMO LEFT -->
				<div id="offcanvas-demo-left" class="offcanvas-pane width-6">
					<div class="offcanvas-head">
						<header>Left off-canvas</header>
						<div class="offcanvas-tools">
							<a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
								<i class="md md-close"></i>
							</a>
						</div>
					</div>
					<div class="offcanvas-body">
						<p>
							An off-canvas can hold any content you want.
						</p>
						<p>
							Close this off-canvas by clicking on the backdrop or press the close button in the upper right corner.
						</p>
						<p>&nbsp;</p>
						<h4>Some details</h4>
						<ul class="list-divided">
							<li><strong>Width</strong><br/><span class="opacity-75">240px</span></li>
							<li><strong>Height</strong><br/><span class="opacity-75">100%</span></li>
							<li><strong>Body scroll</strong><br/><span class="opacity-75">disabled</span></li>
							<li><strong>Background color</strong><br/><span class="opacity-75">Default</span></li>
						</ul>
					</div>
				</div>
				<!-- END OFFCANVAS DEMO LEFT -->

			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">
				<section>
					<a class="btn btn-raised ink-reaction btn-primary" href="#offcanvas-demo-color1" data-toggle="offcanvas" data-backdrop="false">Color 1</a>
					<div class="section-header">
						<ol class="breadcrumb">
							<li class="active">Off-canvas</li>
						</ol>
					</div>
					<div class="section-body contain-lg">

						<!-- BEGIN INTRO -->
						<div class="row">
							<div class="col-lg-12">
								<h1 class="text-primary">Off-canvas</h1>
							</div><!--end .col -->
							<div class="col-lg-8">
								<article class="margin-bottom-xxl">
									<p class="lead">
										Off-canvas layers slide in from either the left or the right.
										They span the full height of the screen.
										You can use multiple off-canvas displays per page.
									</p>
								</article>
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END INTRO -->

						<!-- BEGIN SECTION INTRO -->
						<div class="row">
							<div class="col-lg-12">
								<h2 class="text-primary">Properties</h2>
							</div>
						</div><!--end .row -->
						<!-- END SECTION INTRO -->

						<!-- BEGIN POSITIONING -->
						<div class="row">
							<div class="col-lg-12">
								<h4>Positioning</h4>
							</div><!--end .col -->
							<div class="col-lg-3 col-md-4">
								<article class="margin-bottom-xxl">
									<p>
										You can place an off-canvas either on the left or the right side off the screen.
									</p>
								</article>
							</div><!--end .col -->
							<div class="col-lg-offset-1 col-md-8">
								<div class="card">
									<div class="card-body">
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-left" data-toggle="offcanvas">
											<i class="md md-arrow-back"></i>
											Open left off-canvas
										</a>
										<a class="btn btn-raised ink-reaction btn-default-bright pull-right" href="#offcanvas-demo-right" data-toggle="offcanvas">
											Open right off-canvas
											<i class="md md-arrow-forward"></i>
										</a>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END POSITIONING -->

						<!-- BEGIN SIZE -->
						<div class="row">
							<div class="col-lg-12">
								<h4>Size</h4>
							</div><!--end .col -->
							<div class="col-lg-3 col-md-4">
								<article class="margin-bottom-xxl">
									<p>
										An off-canvas can have any size.
										Material Admin has a number of standard sizes you can choose, but you can also set the width in a style attribute for easy customization.
									</p>
								</article>
							</div><!--end .col -->
							<div class="col-lg-offset-1 col-md-8">
								<div class="card">
									<div class="card-body">
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-size1" data-toggle="offcanvas">Size 1</a>
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-size2" data-toggle="offcanvas">Size 2</a>
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-size3" data-toggle="offcanvas">Size 3</a>
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-size4" data-toggle="offcanvas">Size 4</a>
									</div><!--end .card-body -->
								</div><!--end .card -->
								<em class="text-caption">Some sizes as an example</em>
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END SIZE -->

						<!-- BEGIN COLORS -->
						<div class="row">
							<div class="col-lg-12">
								<h4>Colors</h4>
							</div><!--end .col -->
							<div class="col-lg-3 col-md-4">
								<article class="margin-bottom-xxl">
									<p>
										Every color that is available for a card, is also available for an off-canvas.
									</p>
								</article>
							</div><!--end .col -->
							<div class="col-lg-offset-1 col-md-8">
								<div class="card">
									<div class="card-body">
										<a class="btn btn-raised ink-reaction btn-primary" href="#offcanvas-demo-color1" data-toggle="offcanvas" data-backdrop="false">Color 1</a>
										<a class="btn btn-raised ink-reaction btn-accent-dark" href="#offcanvas-demo-color2" data-toggle="offcanvas" data-backdrop="false">Color 2</a>
										<a class="btn btn-raised ink-reaction btn-info" href="#offcanvas-demo-color3" data-toggle="offcanvas" data-backdrop="false">Color 3</a>
										<a class="btn btn-raised ink-reaction btn-default-dark" href="#offcanvas-demo-color4" data-toggle="offcanvas" data-backdrop="false">Color 4</a>
									</div><!--end .card-body -->
								</div><!--end .card -->
								<em class="text-caption">Basic headings</em>
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END COLORS -->

						<!-- BEGIN BACKDROP -->
						<div class="row">
							<div class="col-lg-12">
								<h4>Backdrop</h4>
							</div><!--end .col -->
							<div class="col-lg-3 col-md-4">
								<article class="margin-bottom-xxl">
									<p>
										A backdrop is a layer on top of the content.
										This layer is clickable so that the off-canvas is closed.
										You can disable the backdrop by adding <code>data-backdrop="false"</code>.
									</p>
								</article>
							</div><!--end .col -->
							<div class="col-lg-offset-1 col-md-8">
								<div class="card">
									<div class="card-body">
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-backdrop" data-toggle="offcanvas">With backdrop</a>
										<a class="btn btn-raised ink-reaction btn-default-bright" href="#offcanvas-demo-nobackdrop" data-toggle="offcanvas" data-backdrop="false">Without backdrop</a>
									</div><!--end .card-body -->
								</div><!--end .card -->
								<em class="text-caption">Basic headings</em>
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END BACKDROP -->

					</div><!--end .section-body -->
				</section>
			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="{% static 'html/dashboards/dashboard.html">
							<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="{% static 'html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Dashboard</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN EMAIL -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-email"></i></div>
								<span class="title">Email</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="{% static 'html/mail/inbox.html" ><span class="title">Inbox</span></a></li>
								<li><a href="{% static 'html/mail/compose.html" ><span class="title">Compose</span></a></li>
								<li><a href="{% static 'html/mail/reply.html" ><span class="title">Reply</span></a></li>
								<li><a href="{% static 'html/mail/message.html" ><span class="title">View message</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END EMAIL -->

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="{% static 'html/layouts/builder.html" >
								<div class="gui-icon"><i class="md md-web"></i></div>
								<span class="title">Layouts</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN UI -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
								<span class="title">UI elements</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="{% static 'html/ui/colors.html" ><span class="title">Colors</span></a></li>
								<li><a href="{% static 'html/ui/typography.html" ><span class="title">Typography</span></a></li>
								<li><a href="{% static 'html/ui/cards.html" ><span class="title">Cards</span></a></li>
								<li><a href="{% static 'html/ui/buttons.html" ><span class="title">Buttons</span></a></li>
								<li><a href="{% static 'html/ui/lists.html" ><span class="title">Lists</span></a></li>
								<li><a href="{% static 'html/ui/tabs.html" ><span class="title">Tabs</span></a></li>
								<li><a href="{% static 'html/ui/accordions.html" ><span class="title">Accordions</span></a></li>
								<li><a href="{% static 'html/ui/messages.html" ><span class="title">Messages</span></a></li>
								<li><a href="{% static 'html/ui/offcanvas.html" class="active"><span class="title">Off-canvas</span></a></li>
								<li><a href="{% static 'html/ui/grid.html" ><span class="title">Grid</span></a></li>
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Icons</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="{% static 'html/ui/icons/materialicons.html" ><span class="title">Material Design Icons</span></a></li>
										<li><a href="{% static 'html/ui/icons/fontawesome.html" ><span class="title">Font Awesome</span></a></li>
										<li><a href="{% static 'html/ui/icons/glyphicons.html" ><span class="title">Glyphicons</span></a></li>
										<li><a href="{% static 'html/ui/icons/skycons.html" ><span class="title">Skycons</span></a></li>
									</ul><!--end /submenu -->
								</li><!--end /menu-li -->
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END UI -->

						<!-- BEGIN TABLES -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-table"></i></div>
								<span class="title">Tables</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="{% static 'html/tables/static.html" ><span class="title">Static Tables</span></a></li>
								<li><a href="{% static 'html/tables/dynamic.html" ><span class="title">Dynamic Tables</span></a></li>
								<li><a href="{% static 'html/tables/responsive.html" ><span class="title">Responsive Table</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END TABLES -->

						<!-- BEGIN FORMS -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
								<span class="title">Forms</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="{% static 'html/forms/basic.html" ><span class="title">Form basic</span></a></li>
								<li><a href="{% static 'html/forms/advanced.html" ><span class="title">Form advanced</span></a></li>
								<li><a href="{% static 'html/forms/layouts.html" ><span class="title">Form layouts</span></a></li>
								<li><a href="{% static 'html/forms/editors.html" ><span class="title">Editors</span></a></li>
								<li><a href="{% static 'html/forms/validation.html" ><span class="title">Form validation</span></a></li>
								<li><a href="{% static 'html/forms/wizard.html" ><span class="title">Form wizard</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END FORMS -->

						<!-- BEGIN PAGES -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-computer"></i></div>
								<span class="title">Pages</span>
							</a>
							<!--start submenu -->
							<ul>
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Contacts</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="{% static 'html/pages/contacts/search.html" ><span class="title">Search</span></a></li>
										<li><a href="{% static 'html/pages/contacts/details.html" ><span class="title">Contact card</span></a></li>
										<li><a href="{% static 'html/pages/contacts/add.html" ><span class="title">Insert contact</span></a></li>
									</ul><!--end /submenu -->
								</li><!--end /menu-li -->
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Search</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="{% static 'html/pages/search/results-text.html" ><span class="title">Results - Text</span></a></li>
										<li><a href="{% static 'html/pages/search/results-text-image.html" ><span class="title">Results - Text and Image</span></a></li>
									</ul><!--end /submenu -->
								</li><!--end /menu-li -->
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Blog</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="{% static 'html/pages/blog/masonry.html" ><span class="title">Blog masonry</span></a></li>
										<li><a href="{% static 'html/pages/blog/list.html" ><span class="title">Blog list</span></a></li>
										<li><a href="{% static 'html/pages/blog/post.html" ><span class="title">Blog post</span></a></li>
									</ul><!--end /submenu -->
								</li><!--end /menu-li -->
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Error pages</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="{% static 'html/pages/404.html" ><span class="title">404 page</span></a></li>
										<li><a href="{% static 'html/pages/500.html" ><span class="title">500 page</span></a></li>
									</ul><!--end /submenu -->
								</li><!--end /menu-li -->
								<li><a href="{% static 'html/pages/profile.html" ><span class="title">User profile<span class="badge style-accent">42</span></span></a></li>
								<li><a href="{% static 'html/pages/invoice.html" ><span class="title">Invoice</span></a></li>
								<li><a href="{% static 'html/pages/calendar.html" ><span class="title">Calendar</span></a></li>
								<li><a href="{% static 'html/pages/pricing.html" ><span class="title">Pricing</span></a></li>
								<li><a href="{% static 'html/pages/timeline.html" ><span class="title">Timeline</span></a></li>
								<li><a href="{% static 'html/pages/maps.html" ><span class="title">Maps</span></a></li>
								<li><a href="{% static 'html/pages/locked.html" ><span class="title">Lock screen</span></a></li>
								<li><a href="{% static 'html/pages/login.html" ><span class="title">Login</span></a></li>
								<li><a href="{% static 'html/pages/blank.html" ><span class="title">Blank page</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END FORMS -->

						<!-- BEGIN CHARTS -->
						<li>
							<a href="{% static 'html/charts/charts.html" >
								<div class="gui-icon"><i class="md md-assessment"></i></div>
								<span class="title">Charts</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END CHARTS -->

						<!-- BEGIN LEVELS -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
								<span class="title">Menu levels demo</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="#"><span class="title">Item 1</span></a></li>
								<li><a href="#"><span class="title">Item 1</span></a></li>
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Open level 2</span>
									</a>
									<!--start submenu -->
									<ul>
										<li><a href="#"><span class="title">Item 2</span></a></li>
										<li class="gui-folder">
											<a href="javascript:void(0);">
												<span class="title">Open level 3</span>
											</a>
											<!--start submenu -->
											<ul>
												<li><a href="#"><span class="title">Item 3</span></a></li>
												<li><a href="#"><span class="title">Item 3</span></a></li>
												<li class="gui-folder">
													<a href="javascript:void(0);">
														<span class="title">Open level 4</span>
													</a>
													<!--start submenu -->
													<ul>
														<li><a href="#"><span class="title">Item 4</span></a></li>
														<li class="gui-folder">
															<a href="javascript:void(0);">
																<span class="title">Open level 5</span>
															</a>
															<!--start submenu -->
															<ul>
																<li><a href="#"><span class="title">Item 5</span></a></li>
																<li><a href="#"><span class="title">Item 5</span></a></li>
															</ul><!--end /submenu -->
														</li><!--end /submenu-li -->
													</ul><!--end /submenu -->
												</li><!--end /submenu-li -->
											</ul><!--end /submenu -->
										</li><!--end /submenu-li -->
									</ul><!--end /submenu -->
								</li><!--end /submenu-li -->
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END LEVELS -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			<div class="offcanvas">

				<!-- BEGIN OFFCANVAS DEMO RIGHT -->
				<div id="offcanvas-demo-color1" class="offcanvas-pane style-primary width-8">
					<div class="offcanvas-head">
						<header>Color 1</header>
						<div class="offcanvas-tools">
							<a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
								<i class="md md-close"></i>
							</a>
						</div>
					</div>
					<div class="offcanvas-body">
						<p>
							Every color that is available for a card, is also available for an off-canvas.
						</p>
						<p>
							Close this off-canvas by clicking on the backdrop or press the close button in the upper right corner.
						</p>
						<p>&nbsp;</p>
						<h4>Some details</h4>
						<ul class="list-divided">
							<li><strong>Width</strong><br/><span class="opacity-75">320px</span></li>
							<li><strong>Height</strong><br/><span class="opacity-75">100%</span></li>
							<li><strong>Body scroll</strong><br/><span class="opacity-75">disabled</span></li>
							<li><strong>Background color</strong><br/><span class="opacity-75">Primary</span></li>
						</ul>
					</div>
				</div>
				<!-- END OFFCANVAS DEMO RIGHT -->

			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS RIGHT -->

		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="{% static 'assets/js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'assets/js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
		<script src="{% static 'assets/js/libs/bootstrap/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/libs/spin.js/spin.min.js' %}"></script>
		<script src="{% static 'assets/js/libs/autosize/jquery.autosize.min.js' %}"></script>
		<script src="{% static 'assets/js/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>
		<script src="{% static 'assets/js/core/source/App.js' %}"></script>
		<script src="{% static 'assets/js/core/source/AppNavigation.js' %}"></script>
		<script src="{% static 'assets/js/core/source/AppOffcanvas.js' %}"></script>
		<script src="{% static 'assets/js/core/source/AppCard.js' %}"></script>
		<script src="{% static 'assets/js/core/source/AppForm.js' %}"></script>
		<script src="{% static 'assets/js/core/source/AppNavSearch.js' %}"></script>
		<script src="{% static 'assets/js/core/source/AppVendor.js' %}"></script>
		<script src="{% static 'assets/js/core/demo/Demo.js' %}"></script>
		<!-- END JAVASCRIPT -->

	</body>
</html>
